.title{
    margin: 10px;
    padding: 5px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    background-color: #faffb1;
}

.description{
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #eca1af;
}

.input-section{
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f1b885;
}

button{
    margin-top: 10px;
    margin-left: 40%;
}

#output-section{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color:#EEF1FF ;
}

#output-section strong{
    text-align: center;
}
footer{
    padding: 10px;
}